homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: !secret home_elevation
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Europe/Paris
  # Customization file
  customize: !include customize.yaml

  # Packages
  packages:
    #
    # homeassistant: !include packages/homeassistant.yaml
    #
    # datetime: !include packages/datetime.yaml
    weather: !include packages/weather.yaml
    # tracking: !include packages/tracking.yaml
    #
    # internet: !include packages/internet.yaml
    # internetsites: !include packages/internet_sites.yaml
    #
    # notify: !include packages/notify.yaml
    #
    # presencehomearrive: !include packages/presence_home_arrive.yaml
    # presencehomeleave: !include packages/presence_home_leave.yaml
    # presenceworkarrive: !include packages/presence_work_arrive.yaml
    # presenceworkleave: !include packages/presence_work_leave.yaml
    #
    # devpi: !include packages/dev_pi.yaml
    # devlaptop: !include packages/dev_laptop.yaml
    # devmobile: !include packages/dev_mobile.yaml
    # devtv: !include packages/dev_tv.yaml
    #
    # work: !include packages/work.yaml
    # calendars: !include packages/calendars.yaml
    # workingdays: !include packages/workingdays.yaml
    # geo: !include packages/geo.yaml
    # quotes: !include packages/quotes.yaml
    #
    # alarmclock: !include packages/alarmclock.yaml
    # report: !include packages/report.yaml
    #
    # webcams: !include packages/webcams.yaml
    # traffic: !include packages/traffic.yaml
    #
    # conversation: !include packages/conversation.yaml
    # profiles: !include packages/profiles.yaml


# Show links to resources in log and frontend
# introduction:

# Enables the frontend
frontend:
  javascript_version: latest

# Enables configuration UI
config:

http:
  # Secrets are defined in the file secrets.yaml
  # api_password: !secret http_password
  # Uncomment this if you are using SSL/TLS, running in Docker container, etc.
  # base_url: example.duckdns.org:8123

# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:
  # Optional, allows Home Assistant developers to focus on popular components.
  # include_used_components: true

# Discover some devices automatically
discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time
history:

# View all events in a logbook
logbook:

# Enables a map showing the location of tracked devices
map:

# Track the sun
sun:

#MQTT position
mqtt:
  broker: m23.cloudmqtt.com
  port: 27480
  username: !secret cloudmqtt_login
  password: !secret cloudmqtt_password

device_tracker: !include_dir_merge_list device_tracker

zone: !include zones.yaml

# Text to speech
tts:
  - platform: google

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
